* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgb(71, 71, 223),
    rgba(0, 255, 136, 0.696)
  );
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 450px;
  border-radius: 20px;
  border: rgb(38, 116, 87) 2px solid;
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  width: 80%;
  padding: 5px 10px;
  font-size: 18px;
}
button {
  padding: 10px 10px;
  border: none;
  background: rgb(0, 255, 136);
}

li {
  list-style-type: none;
  border: solid 2px black;
  margin: 5px;
  padding: 3px;
  background-color: green;
}

h1 {
  text-align: center;
}
